<div class="container">
  <h3 class="text-center">User Sign Up</h3>
  <form name="signUpCtrl.signUpForm" novalidate>
    <div class="form-group">
      <label>First Name</label>
      <input style="color:black;" name="firstName" type="text" ng-model="user.firstName" required>
      <span ng-if="signupForm.firstName.$error.required">First Name is Required. </span>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input style="color:black;" name="lastName" type="text" ng-model="user.lastName" required>
      <span ng-if="signupForm.lastName.$error.required">Last Name is Required. </span>
    </div>
    <div class="form-group">
      <label>Email</label>
      <input style="color:black;" name="email" type="email" ng-model="user.email" required>
      <span ng-if="signupForm.email.$error.required">Email Address is Required. </span>
      <span ng-if="signupForm.email.$error.invalid">Email Address Format is incorrect. </span>
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input style="color:black;" name="phone" type="text" ng-model="user.phone" placeholder="000-000-0000" pattern="(\d{3})-(\d{3})-(\d{4})" required>
      <span ng-if="signupForm.phone.$error.required">Phone Number is Required. </span>
      <span ng-if="signupForm.phone.$error.invalid">Phone Number Format is incorrect. </span>
    </div>
    <div class="form-group">
      <label>Favorite Dish</label>
      <input style="color:black;" name="favDish" type="text" ng-model="user.favDish" placeholder="Short Names Only"  required>
      <span ng-if="signupForm.favDish.$error.required">Favorite Dish Required. </span>
      <span ng-if="!signUpCtrl.successItem">No such Item Found for Short Name. </span>
    </div>
    <input style="color:black;" type="submit" ng-disabled="signUpForm.$invalid" ng-click="signUpCtrl.signup()" />
    <div class="form-group">
      <a ui-sref="public.info" ng-if="signUpCtrl.successSave">Infromation was saved successfully, Please Click here to see your Registration.</a>
    </div>
  </form>
</div>
